<button class="icon-button" (click)="showMobileLeftContainer()">
    <fa-icon class="menu-icon" [icon]="faBars"></fa-icon>
</button>
<div class="container">
    <div [ngClass]="leftContainerClass" id="left-container">
        <div class="filter-box-brand">
            <div class="filterLabel"><b>Brand</b></div>
            <label>
                <input type="checkbox" 
                id="allBrands" 
                name="allBrands" 
                value="all" 
                [(ngModel)]="checkboxBrandAll" 
                (change)="checkboxChange($event, null, null)"> 
                all
            </label>
            <div class="checkboxList" *ngFor="let brand of brands ">
                <label>
                    <input type="checkbox" 
                    id="{{brand.name}}" 
                    name="otherBrands" 
                    value="{{brand.name}}"
                    [checked]="brand.checked" 
                    (change)="checkboxChange($event, brand, null)"> 
                    {{brand.name}}
                </label>
                <label class="labelCount"> ({{brand.count}})</label>
            </div>
        </div>
        <br>
        <div class="filter-box-type">
            <div class="filterLabel"><b>Type</b></div>
            <label>
                <input type="checkbox" 
                    id="allType" 
                    name="allTypes" 
                    value="all" 
                    [(ngModel)]="checkboxTypeAll" 
                    (change)="checkboxChange($event, null, null)"> 
                all
            </label>
            <div class="checkboxList" *ngFor="let type of types">
                <label>
                    <input type="checkbox" 
                        id="{{type.name}}" 
                        name="otherTypes" 
                        value="{{type.name}}"
                        [checked]="type.checked" 
                        (change)="checkboxChange($event, null, type)"> 
                    {{type.name}}
                </label>
                <label class="labelCount"> ({{type.count}})</label>
            </div>
        </div>
        <button class="hide-button" (click)="hideLeftContanier()">close</button>
        <app-recent-seen-cars class="recent-seen" [recentSeenCars]="recentSeenCars"></app-recent-seen-cars>
    </div>
    
    <div class="central-container">
        <div class="gallery" >
            <app-card-cars-gallery *ngFor="let car of filteredCars" 
                [car]="car" [parent]="'gallery'" 
                [usersRatings]="usersRatings"
                (setObservedCarAction)="onSetObservedCar($event)"
                (setNotObservedCarAction)="onSetNotObservedCar($event)">
            </app-card-cars-gallery>
        </div>
    </div>

</div>
