@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}

.conteiner{
    display: flex;
	justify-content: flex-start;
}
.left-conteiner{
    max-width: 150px;
	min-width: 150px;
    flex-basis: 150px;
}

.gallery{
    display: -webkit-flex;
	display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}