<button class="icon-button" (click)="showMobileLeftConteiner()">
    <fa-icon class="menu-icon" [icon]="faBars"></fa-icon>
</button>
<div class="conteiner">


    <div class="left-conteiner" [ngClass]="leftConteinerClass" id="left-conteiner">
        <div class="filter-box-brand">
            <div class="filterLabel"><b>Brand</b></div>
            <label>
                <input type="checkbox" id="allBrands" name="allBrands" value="all" 
                [(ngModel)]="checkboxBrandAll" (change)="checkboxChange($event)"> all
            </label>
            <div class="checkboxList" *ngFor="let brand of brands ">
                <label>
                    <input type="checkbox" id="{{brand.name}}" name="otherBrands" value="{{brand.name}}"
                    [(ngModel)]="brand.checked" (change)="checkboxChange($event)"> {{brand.name}}
                </label>
                <label class="labelCount"> ({{brand.count}})</label>
            </div>
        </div>
        <br>
        <div class="filter-box-type">
            <div class="filterLabel"><b>Type</b></div>
            <label><input type="checkbox" id="allType" name="allTypes" value="all" [(ngModel)]="checkboxTypeAll" (change)="checkboxChange($event)"> all</label>
            <div class="checkboxList" *ngFor="let type of types">
                <label><input type="checkbox" [(ngModel)]="type.checked" id="{{type.name}}" name="otherTypes" value="{{type.name}}" (change)="checkboxChange($event)"> {{type.name}}</label><label class="labelCount"> ({{type.count}})</label>
            </div>
        </div>
        <button class="hide-button" (click)="hideLeftContenier()">close</button>
        <app-recent-seen-cars class="recent-seen" [recentSeenCars]="recentSeenCars"></app-recent-seen-cars>
    </div>
    
    <div class="central-conteiner">
        <div class="gallery" >
            <app-car-card-gallery *ngFor="let car of filteredCars" 
            [car]="car" [parent]="'gallery'" 
            [usersRatings]="usersRatings"
            (setObservedCarAction)="onSetObservedCar($event)"
            (setNotObservedCarAction)="onSetNotObservedCar($event)"></app-car-card-gallery>
        </div>
    </div>

</div>
