@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}

.container{
    display: flex;
    justify-content: flex-start;
}

.icon-button{
    display:none;
}

.show-normal-left-container{
    display: block;
    position: static;
    max-width: 150px;
	min-width: 150px;
    flex-basis: 150px;
    background-color: white;
}

.show-mobile-left-container{
    display: block;
    position: absolute;
    max-width: 150px;
    min-width: 150px;
    top: 145px;
    left: 10px;
    background-color: white;
}

.hide-left-container{
    display: none;
}

.hide-button{
    display: none;
}

.gallery{
    display: -webkit-flex;
	display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media screen and (max-width: 1050px){
    
    .icon-button{
        display: block;
        color: lightgrey;
        background-color: white;
        border: 0;
        border-radius: 0;
    }

    .hide-button{
        display: block;
        color: lightgrey;
        background-color: white;
        border: 0;
        border-radius: 0;
    }

    .recent-seen{
        display: none;
    }

    .left-container{
        display: none;
    }
}



