<!-- 
<div class="phrase" id="phrase1"
    [@show-hide]="phrase1"
    (@show-hide.done)="animationPhraseDone($event, 'phrase1')">
    <p class="quote">“Need I remind you, 007,</p>
    <p class="quote">that you have a licence to kill,</p>
    <p class="quote">not to break the traffic laws.”</p>
    <p class="author"><i>GoldenEye</i></p>
</div>

<div class="phrase" id="phrase2"
    [@show-hide]="phrase2"
    (@show-hide.done)="animationPhraseDone($event, 'phrase2')">
    <p class="quote">"Men love women,</p>
    <p class="quote">but even more than that,</p>
    <p class="quote">men love cars"</p>
    <p class="author"><i>Rush</i></p>
</div>

<div class="phrase" id="phrase3"
    [@show-hide]="phrase3"
    (@show-hide.done)="animationPhraseDone($event, 'phrase3')">
    <p class="quote">"I live my life a quarter mile at a time"</p>
    <p class="author"><i>The Fast and Furious</i></p>
</div>

<div class="phrase" id="phrase4"
    [@show-hide]="phrase4"
    (@show-hide.done)="animationPhraseDone($event, 'phrase4')">
    <p class="quote">"Float like a Cadillac,</p>
    <p class="quote">sting like a Beemer"</p>
    <p class="author"><i>Cars</i></p>
</div>

<div class="phrase" id="phrase5"
    [@show-hide]="phrase5"
    (@show-hide.done)="animationPhraseDone($event, 'phrase5')">
    <p class="quote">"If my calculations are correct,</p>
    <p class="quote">when this baby hits 88 miles per hour,</p>
    <p class="quote">you're gonna see some serious shit."</p>
    <p class="author"><i>Back To The Future</i></p>
</div>

<div class="phrase" id="phrase6"
    [@show-hide]="phrase6"
    (@show-hide.done)="animationPhraseDone($event, 'phrase6')">
    <p class="quote">"The driver don't pick the car;</p>
    <p class="quote">the car picks the driver."</p>
    <p class="author"><i>Transformers</i></p>
</div> 
-->