@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
	font-family: 'Poppins';
}

.card{
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgrey;
}

.image, .details{
    display: inline-block;
}

a img{
    width: 120px;
    height: 120px;
}

.secondBlock .descriptionUsername{
    font-size: 16px;
	text-align: left;
    position: relative;
    top:-20px;
}

.descriptionBase{
	font-size: 20px;
    text-align: left;
}

.descriptionPrice{
	font-size: 22px;
	color: royalblue;
	text-align: left;
    width: 210px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0px;
}

.noPrice{
    font-size: 22px;
	color: rgb(127, 146, 202);
	text-align: left;
    width: 210px;
    text-decoration-line: line-through;
    margin-top: 2px;
    margin-bottom: 0px;
}

.descriptionPriceLabel{
	width: 210px;
	text-align: left;
}

.descriptionInLine{
    display: flex;
}

.descriptionInLine .space{
    min-width: 100px;
}