.card{
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgrey;
    width: 200px;
    height: auto;
}

.image{
    width: 100%;
    height: auto;
}

.description-price{
    color: rgb(84, 177, 206);
    font-size: large;
}

.description-noprice{
    color: rgb(84, 177, 206);
    text-decoration: line-through;
}

.observe-button{
    background-color: rgb(84, 177, 206);
    color: white;
    border: 0;
    border-radius: 0;
}

@media screen and (max-width: 414px){
    .card{
        width: 90%;
    }
}