.card{
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgrey;
    width: 200px;
    height: auto;
}

.image{
    width: 100%;
    height: auto;
}

.description-price{
    color: rgb(84, 177, 206);
}

.description-noprice{
    color: rgb(84, 177, 206);
    text-decoration: line-through;
}